$blue: #0082da;

body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 20px;
}

* {
	box-sizing: border-box;
}

p {
	position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -40px;

}

svg {
	display: block;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: #dedede;
  background: -moz-linear-gradient(top,  #dedede 0%, #fcfcfc 100%);
  background: -webkit-linear-gradient(top,  #dedede 0%,#fcfcfc 100%);
  background: linear-gradient(to bottom,  #dedede 0%,#fcfcfc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#f4f4f4',GradientType=0 );
  -moz-box-shadow:    inset 0 0 7px #000000;
  -webkit-box-shadow: inset 0 0 7px #000000;
  box-shadow:         inset 0 0 7px #000000;
	position: absolute;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -65px;
	circle {
		fill: none;
		stroke-width: 10px;
		&:nth-child(1) {
			stroke: transparent;
		}
		&:nth-child(2) {
			stroke: $blue;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-dasharray: 402.124;
			stroke-dashoffset: 402.124;
			transition: all 150ms ease-out;
		}
	}
	@for $i from 1 through 100 {
		&[percent="#{$i}"] {
			circle {
				&:nth-child(2) {
					stroke-dashoffset: #{402.124 - (402.124 * ($i/100))};
				}
			}
		}
	}
}
